classes_gen
source_gen
source_gen.caches
test_gen.caches
workspace.xml
artifacts
tmp
.gradle/
build/generated/
build/mps/
/build/
test_gen/
site
.DS_Store
.gradletasknamecache
.idea/encodings.xml

# MPS temporary directories
/system/
/config/
markdown-navigator**
model-api/build
code/model-api/org.modelix.model.api/lib
scripts/.mps-caches
.idea/modules
