
.viewer {
  position: relative;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  svg {
    position: absolute;
    left: 0;
    top: 0;

    text {
      text-rendering: optimizeLegibility;
    }
  }
}