body {
    margin: 12px;
    background-color: #212121;
    color: #fff;
}

a:link {
    color: #ccccff;
}

a:visited {
    color: #c0c0ff;
}

a:hover {
    color: #b8e6b8;
}

a:active {
    color: #b8e6b8;
}

.viewer {
    font-family: Menlo, monospace;
    font-size: 11pt;
    border: 1px solid #555;
    padding: 3px 6px;
    background-color: #424242;
}

.relativeLayer {
    position: absolute;
    left: 0;
    top: 0;
}

.textCell {
    font-family: Menlo, monospace;
    font-size: 11pt;
}

.caret {
    position: absolute;
    background-color: #fff;
    width: 2px;
    height: 20px;
    display: none;
}

.ccmenu {
    position: absolute;
    background-color: #2a2a2a;
    border: 1px solid #888;
    overflow-y: scroll;
    max-height: 200px;
}

.ccmenu .selection {
    background-color: #707070;
    padding: 0;
}

.ccmenu .matchingText {
    padding: 0 10px 0 3px;
    white-space: nowrap;
}

.ccmenu .description {
    padding: 0 3px 0 10px;
    white-space: nowrap;
}

.cellContainer {
    position: relative;
}

.breadcrumbs {
    padding: 6px 6px;
    border: 1px solid #555;
    margin: 0 0 6px 0;
    background-color: #303030;
}